label {
    border: 0px solid rgba(102, 239, 240, 1);
}

th{
    font-size: 70px;
    border: 3px solid rgba(102, 239, 240, 1);
}

<<<<<<< HEAD
.toolmenu{
  display: flex;
  
  white-space: nowrap;
  flex-direction: row;
  line-height: 40px;
  width: 100%;
  background-color: #f0f0f0;
  border-top: solid 1px #9c9d9f;
  border-bottom: solid 1px #cacacc;
  color: black;
}
.toolbuttons{
  text-align: center;
  display: flex;
  flex-grow: 2;
  flex-direction: row;
  justify-content: flex-end;
}
.toolbuttons div{
  height: 50px;
}

.selectormain{
  display:flex;
  flex-direction: row;
  background-color: #f9f9fb;
  height: 100%;
  color: black;
}
.selectorbox{
  display:flex;
  justify-content: center;
  flex: 15;
  padding: 20px;
}
.selectortool{
  display:flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: #737373;
}

/*Jason's shit*/

body {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
} 
/*Dark mode starts here*/
.toolmenu-dark{
  display: flex;
  white-space: nowrap;
  flex-direction: row;
  line-height: 40px;
  width: 100%;
  background-color: #282828;
  border-top: solid 1px #070709;
  border-bottom: solid 1px #424242;
  color: #cacaca;
}

.selectormain-dark{
  display:flex;
  flex-direction: row;
  background-color: #5b5b5d;
  height: 100%;
  color: #cacaca;
}
.selectorbox-dark{
  display:flex;
  justify-content: center;
  flex: 15;
  padding: 20px;
}

.selectortool-dark{
  display:flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: #535353;
}
=======
body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }
>>>>>>> 0c04ada54e01f90a1ed430f1b78adf27dc65f4a2
